/.gradle
/.windsurf
/axs-core
/build
/build.gradle.kts
/buildSrc
/dist-scripts
/gradle
/gradle.properties
/gradlew
/gradlew.bat
/libs
/MODULAR-README.md
/modules
/native
/proguard
/proxy
/README.md
/settings.gradle.kts
/src